.mail-view {
  background-color: #e7effd;
  margin: 3px 5px;
  padding: 10px;
  width: calc(100vw - 430px);
  min-height: calc(100vh - 26px);
}
.mail-view__header {
  margin: 8px 0;
}
.mail-view__sender__wrapper {
  display: flex;
  justify-content: space-between;
}

.mail-view__body {
  height: 100%;
}

.mail-view__body-html {
  height: 100%;
  width: 100%;
}